@use "sass:color";

$maincolor: #1eff00;
$background-color: #ff26268e;
$accent-color: blue;
$section-bg: color.scale(blue, $lightness: 40%);
$cta-color: red;
$font-family: 'Arial', sans-serif;
$font-color: #333;
$padding: 10px;
$margin: 2rem;
$border-radius: 20px;
$border: 2px solid $accent-color;